.main-container {
  width: 120rem;
  height: 55rem;
  background-color: white;
  margin: 5rem auto;
  border-radius: 2rem;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.left-container {
  width: 69%;
  height: 100%;
  padding: 2.5rem 2rem 1.5rem 2rem;
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  overflow-y: scroll;
  background-color: var(--primary-dark);

  &__movies {
    width: 142px;
    height: 220px;
    border-radius: 1rem;
    margin: 0 0.5rem 1rem 0.5rem;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;

    &:hover {
      box-shadow: var(--shadow-light);
      transform: scale(1.2);
      z-index: 10;
    }

    &--cover {
      width: 100%;
      height: 100%;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      object-fit: cover;
      overflow: hidden;
    }

    &--info {
      width: 100%;
      height: 40px;
      display: flex;
      padding: 1rem;
      justify-content: space-between;
      align-items: center;
      background-color: var(--gray-light);
      cursor: pointer;

      &-rating {
        border-bottom: 1px solid var(--gray-dark);
      }
    }

    &--hover {
      width: 100%;
      height: 181px;
      background-color: var(--white);
      position: absolute;
      top: 0;
      left: 0;
      color: var(--black);
      font-weight: 500;
      font-size: 1.3rem;
      padding: 1rem;
      overflow: hidden;
      overflow-y: scroll;
      transform: translateY(-100%);
      transition: transform 0.4s ease-in-out;

      &-title {
        font-weight: 700;
        color: var(--primary-darkest);
        padding-left: 0.5rem;
        margin-bottom: 1rem;
        border-left: 1px solid #000;
      }
    }

    &:hover &--hover {
      transform: translateY(0%);
    }
  }
}

.right-container {
  width: 29%;
  height: 100%;
  background-color: orchid;
  border-radius: 1rem;
}
